<!--
  Generated template for the FormViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Il tuo annuncio </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
   
   
  <ion-item >
    <img *ngIf="imageFileName" [src]="imageFileName" width="300" />
    <!-- <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" /> -->
  </ion-item>

  <h3 class="testo">Ecco il tuo annuncio</h3>
  <!-- <h3 class="testo">-> {{imageFileName}}</h3>
  <h3 class="testo">-> {{formmodel.indirizzo.lat}}</h3>
  -->
  <!-- <p>{{pippo}}</p>  -->
  <ion-item>
    <ion-label color="primary" stacked>Il servizio che si desidera offrire : </ion-label>
    <ion-label class="labello">{{formmodel.tipoOfferta}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Organizzazione</ion-label>
    <ion-label class="labello">{{formmodel.organizzazione}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Descrizione</ion-label>
    <ion-label class="labello">{{formmodel.descrizione}}</ion-label>
  </ion-item>

  <ion-item>
    <p class="testo">
      Area in cui si desidera offrire servizio
    </p>
  
  </ion-item>

  
  <div #map id="map" style="width:100%; height:40%;border-style: groove;"></div>
  <ion-item>
    <ion-label color="primary" stacked>Indirizzo </ion-label>
  </ion-item>
  <ion-item text-wrap>
    <p>{{formmodel.indirizzo.via}}</p>
    <p>{{formmodel.indirizzo.citta}}</p>
    <p>{{formmodel.indirizzo.cap}}</p>

  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Area in cui si desidera offrire il servizio </ion-label>
    <ion-label class="labello" >{{formmodel.raggio}}</ion-label>
  </ion-item>


  <p class="testo">
    <button ion-button color="primary" (click)="buttonTapped()" full>Elimina</button>
  </p>
</ion-content>
